<div class="row">
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Ref</th>
                    <th>Location</th>
                    <th>Lat</th>
                    <th>Ing</th>
                    <th>Alt</th>
                    <th><button (click)="loadNext()" [disabled]="dissableLoadMoreButton"> Load 25 more </button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection.data, index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.ref}}</td>
                    <td>{{item.location}}</td>
                    <td>{{item.lat}}</td>
                    <td>{{item.ing}}</td>
                    <td>{{item.alt}}</td>
                </tr>
            </tbody>
        </table>
    </div>      
</div>